{% extends 'layouts/tienda.html' %} {% block content %}
<br>
<div class="container">
    <h5 class="  -0.2s text-center">CONTACTO</h5>
    <div class="row">
        <div class="col-lg-6 col-sm-04 mx-auto   ">
            {% load crispy_forms_tags %}
            <form method="post" action="">
                {% csrf_token %} {{ form | crispy }}
                <div class="justify-content-center">
                    <button type="reset" class="btn btn-secondary mt-1 mx-2" button >Cancelar</button>
                    <button type="submit " class="btn btn-danger mt-1 " button >Enviar</button>
                </div>
            </form>
        </div>
        <div class="col-lg-6  rounded    embed-responsive embed-responsive-4by3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24515.293708449397!2d-73.23334194863038!3d-39.82018591703462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9615ee89fc8d7279%3A0x3a111c4568b638e3!2sCl%C3%ADnica%20Veterinaria%20%22Happy%20Pet%22!5e0!3m2!1ses-419!2scl!4v1686704059751!5m2!1ses-419!2scl" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
{% endblock %}