{% extends 'layouts/tienda.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 mx-auto mt-3">
            <div class="card p-2">
                {% if user.is_authenticated %}
                <h3 class="text-center my-2">Pedir Hora para tu Mascota</h3>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger mt-2">Pedir Hora</button>
                        </div>
                    </form>
                </div>
                {% else %}
                <div class="card-body">
                    <div class="overlay"></div>
                    <div class="block-message">
                        <h4>Debes estar registrado para pedir una hora.</h4>
                        <p><a href="{% url 'veterinaria:registrar' %}" class="btn btn-primary">Registrarse</a></p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
