{% extends 'layouts/tienda.html' %}
{% block content %}

<br>
<div class="container">
  <ul class="nav justify-content-center bg-light">
  <li class="nav-item">
    <a class="nav-link" href="/solgas/usuario/administrar">Administrador</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/categorias">Categoria</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/listarproductos">Productos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/mascotas">Mascotas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/listarcontacto">Contacto</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/listarcarro">Carro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/listarfavorito">Favoritos</a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="/mostrar_hora">agendar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pedirhora">Horas Pedidas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/carrucel">carrucel</a>
  </li> 
</ul>
</div>


<br>
<div class="d-flex flex-column">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-lg-12   ">
        <div class="card">
          <div class="card-header text-center font-weight-bold">
            {{ title }}
          </div>
          <div class="card-body table-responsive align-items-center">
            <div class="d-flex justify-content-end mb-2">

              <a href="/addcategoria" class="btn btn-success btn-sm" type="submit">
                <i class="bi bi-plus-circle-fill"></i> Añadir Categoria
              </a>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Foto</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody>
                {% if entity %}
                  {% for categoria in entity %}
                    <tr>
                      <td>{{ categoria.id }}</td>
                      <td><a href="{% url 'veterinaria:productocategoria' categoria.id %}">{{ categoria.nombre }}</a></td>
                      <td class="zoom">
                        {% if categoria.imagen %}
                          <img src="{{ categoria.imagen.url }}" width="70" height="70">
                        {% else %}
                          No image available
                        {% endif %}
                      </td>
                      <td>
                        <a class="btn btn-secondary" href="{% url 'veterinaria:editcategoria' categoria.id %}" type="button"><i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-danger" href="{% url 'veterinaria:deleteCategoria' categoria.id %}" type="button"><i class="bi bi-trash-fill"></i></a>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <div class="alert alert-primary d-flex align-items-center" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <div>No hay Categorías Creadas</div>
                  </div>
                {% endif %}
              </tbody>
            </table>

          </div>
        </div>
        {% include 'paginator.html' %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
