{% extends "layouts/tienda.html" %}
{% load static %}
{% block content %}
<div class="d-flex flex-colum py-4">
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-6 mx-auto  mt-3">
              {% load crispy_forms_tags %}
              <div class="card p-2">
                  <h3 class="text-center my-2">Pedir hora Para Propietario</h3>
                  <div class="card body p-2">
                      <form action="" method="post" enctype="multipart/form-data">
                          {% csrf_token %} {{ form | crispy }}
                          <div class="d-flex justify-content-end">
                              <a href="/pedirhora" class="btn btn-secondary mt-2 mx-2" button >Cancelar</a>
                              <button type="submit " class="btn btn-danger mt-2 mx-2 " button >Agregar</a>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>


{% endblock %}